azdevdatafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "azdevdatafactory"
		},
		"azblob_stg_employees_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'azblob_stg_employees'"
		},
		"tgt_azuresqldatabase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'tgt_azuresqldatabase'"
		},
		"GetEmployees_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://dummy.restapiexample.com/api/v1/employees"
		},
		"srcRestAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://dummy.restapiexample.com/api/v1/employees"
		},
		"src_omdb_api_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://www.omdbapi.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GetEmployees')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('GetEmployees_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azblob_stg_employees')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('azblob_stg_employees_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcRestAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('srcRestAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tgt_azuresqldatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('tgt_azuresqldatabase_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_omdb_api')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('src_omdb_api_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcRestAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "srcRestAPI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "http://dummy.restapiexample.com/api/v1/employees",
					"requestMethod": "GET"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/srcRestAPI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tgtBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azblob_stg_employees",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "employee.txt",
						"container": "publicrestapi"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"nullValue": "NA",
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "employee_name",
						"type": "String"
					},
					{
						"name": "employee_salary",
						"type": "String"
					},
					{
						"name": "employee_age",
						"type": "String"
					},
					{
						"name": "profile_image",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azblob_stg_employees')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tgt_SqlServer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "tgt_azuresqldatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "text"
					},
					{
						"name": "employee_name",
						"type": "text"
					},
					{
						"name": "employee_salary",
						"type": "text"
					},
					{
						"name": "employee_age",
						"type": "text"
					},
					{
						"name": "profile_image",
						"type": "text"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[employee]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/tgt_azuresqldatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_omdb_api')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "src_omdb_api",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "http://www.omdbapi.com/?s=batman&apikey=852159f0",
					"requestMethod": "GET"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/src_omdb_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyRestAPI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipelien is for copying the data from public RestAPI\n\n1. From API to Blob\n2. Blob To SqlServer (Pass through mapping(",
				"activities": [
					{
						"name": "copyRestAPI",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "http://dummy.restapiexample.com/api/v1/employees"
							},
							{
								"name": "Destination",
								"value": "publicrestapi//employee.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "id"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"path": "employee_name"
										},
										"sink": {
											"name": "employee_name"
										}
									},
									{
										"source": {
											"path": "employee_salary"
										},
										"sink": {
											"name": "employee_salary"
										}
									},
									{
										"source": {
											"path": "employee_age"
										},
										"sink": {
											"name": "employee_age"
										}
									},
									{
										"source": {
											"path": "profile_image"
										},
										"sink": {
											"name": "profile_image"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "srcRestAPI",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtBlobStorage",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copyFromBlobToSqlServer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copyRestAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSetting",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "tgtBlobStorage",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tgt_SqlServer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srcRestAPI')]",
				"[concat(variables('factoryId'), '/datasets/tgtBlobStorage')]",
				"[concat(variables('factoryId'), '/datasets/tgt_SqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copyMoviesData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "Search[0].Title"
										},
										"sink": {
											"name": "Search[0].Title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "Search[0].Year"
										},
										"sink": {
											"name": "Search[0].Year",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "Search[0].imdbID"
										},
										"sink": {
											"name": "Search[0].imdbID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "Search[0].Type"
										},
										"sink": {
											"name": "Search[0].Type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "Search[0].Poster"
										},
										"sink": {
											"name": "Search[0].Poster",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "totalResults"
										},
										"sink": {
											"name": "totalResults",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "Response"
										},
										"sink": {
											"name": "Response",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_omdb_api",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtBlobStorage",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_omdb_api')]",
				"[concat(variables('factoryId'), '/datasets/tgtBlobStorage')]"
			]
		}
	]
}